# This file is intended to show an example of loading new data

In [1]:
import json
import pandas as pd

In [8]:
with open('json_chunks/processeddata_cell.json', 'r') as f:
    df1 = [json.loads(line.strip()) for line in f]
df1 = pd.DataFrame(df1)

In [9]:
with open('json_chunks/processeddata_clothing.json', 'r') as f:
    df2 = [json.loads(line.strip()) for line in f]
df2 = pd.DataFrame(df2)

In [10]:
with open('json_chunks/processeddata_home.json', 'r') as f:
    df3 = [json.loads(line.strip()) for line in f]
df3 = pd.DataFrame(df3)

In [11]:
with open('json_chunks/processeddata_sports.json', 'r') as f:
    df4 = [json.loads(line.strip()) for line in f]
df4 = pd.DataFrame(df4)

In [12]:
with open('json_chunks/processeddata_toys.json', 'r') as f:
    df5 = [json.loads(line.strip()) for line in f]
df5 = pd.DataFrame(df5)

In [13]:
df = pd.concat([df1,df2,df3,df4,df5])

In [15]:
df.sample(5)

,category,summary,reviewText,class,reviewTextEdit
14088,Sports_and_Outdoors,Great marksman rifle for the price.,just got my uhc super pro 9 version 2 and all ...,1.0,got uhc super pro version say impress requir m...
8321,Toys_and_Games,Great expansion to a great game,"Eclipse has been a weekly staple, and this exp...",1.0,eclips weekli stapl expans add balanc technolo...
19665,Sports_and_Outdoors,Unreliable and unsafe,The tab on the included spring insert is too s...,0.0,tab includ spring insert small line hole exten...
18807,Cell_Phones_and_Accessories,Stylus,Great price for the set...works great too! Go...,1.0,great price set work great got set grandkid li...
5145,Cell_Phones_and_Accessories,Not a secure fit,"Its hard to open, hard to close. I would have ...",0.0,hard open hard close would prefer magnet closu...

In [ ]:
df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)